fastapi==0.110.0
uvicorn[standard]==0.27.1
pydantic==2.6.4
python-dotenv==1.0.1
pandas==2.2.2
numpy==1.26.4
scipy==1.12.0
scikit-learn==1.4.2
xgboost==2.0.3
statsmodels==0.14.1
pmdarima==2.0.4
prophet==1.1.5
tensorflow==2.16.1
optuna==3.6.1
google-generativeai==0.8.0
neuralnet-pytorch==0.0.3
